<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC 
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate_struts2</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!--
			Enable c3p0 connection pooling, beacuse hibernate pooling is not
			prod-ready. Apparently connection.provider_class is needed in 
			hibernate 3+ 
		-->
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="c3p0.max_size">100</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.idle_test_period">30</property>
		
		<!-- Echo all executed SQL to stdout for debugging -->
		<property name="show_sql">true</property>
		
		<!-- All entity classes for hibernate to check for annotation here -->
		<mapping class="com.ssde.apps.data.Event"		/>
		<mapping class="com.ssde.apps.data.Person" 	/>
	</session-factory>
</hibernate-configuration>